<div class="header">
<a href="/" class="logo"><h1>Et King</h1></a>
  <div class="header-right">
    <a href="/">Главная</a>
      <a href="/menu">Меню</a>
    <a href="/order">Бронирование</a>
	<a href="/contact">Контакты</a>
  </div>
</div>