<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    {{> head }}
</head>
<body>
    {{> header}}
     
	 <div class="mainbody">
    <h2>{{title}}</h2>
    <p>Электронный адрес: {{email}}</p>
    <p>Телефон: {{phone}}</p>
     </div>
    {{> footer}}
</body>
</html>