<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    {{> head }}
</head>
<body>
{{> header}}
<div class="mainbody">
    <h2>{{title}}</h2>
    <img src="images/main_image.png" style="width: 25%; margin-right: 2%" align="right">
    <p>Приветствуем вас на странице лучшего стейк-хауса Екатеринбурга.</p>
    <p>Наши контакты и местоположение можно посмотреть на вкладке "Контакты".</p>
    <p>Меню можно посмотреть на вкладке "Меню" (в разработке)</p>
    <p>Забронировать столик можно на вкладке "Бронирование".</p>
</div>
{{> footer}}
</body>
</html>