<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    {{> head }}
</head>
<body>
{{> header}}

    <div class="mainbody">
    <h2>{{title}}</h2>
    <p>Поздравляем, вы успешно забронировали столик!</p>
        <p>На вашу почту было отправлено письмо с деталями.</p>
    </div>
{{> footer}}
</body>
</html>